{% extends 'base.html' %}

{% block title %}About - ChatGPT Chronicles{% endblock %}

{% block content %}
  <h1>About</h1>
  <p>This app gets the top HackerNews article (<a href='https://news.ycombinator.com/best'>https://news.ycombinator.com/best</a>) once a day and writes a 500-word blog post about it using ChatGPT. The articles are stored in S3 and published on this Python web app.</p>

  <p><strong>It has been <i>entirely</i> built by me chatting to ChatGPT (GPT-4) and copying and pasting responses into text files. I  did not write a single line of Python or HTML.</strong></p>

  <p>Source code can be found at <a href='https://github.com/emilesilvis/chatgpt-chronicles'>https://github.com/emilesilvis/chatgpt-chronicles</a>.</p>.

  <p>Below you can find the ChatGPT chats that lead to its creation:</p>

  {% for prompt in prompts %}
  <section>
    <a href="{{ url_for('static', filename=prompt.filename) }}" download>{{ prompt.title }}.md</a>
  </section>
{% endfor %}

{% endblock %}
